<ion-content class="fundo">

  <div class="container">

    <ion-card class="card-perfil">
      <ion-title>Cartão de Identificação</ion-title>
      
      <img src="assets/foto.jpg" class="foto">

      <ion-card-header>
        <ion-card-title class="nome">Evelyn Silva Sales</ion-card-title>
        <ion-card-subtitle class="info">
          ADS0301M • RJ-Bonsucesso • Manhã
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" class="botao-rosa" routerLink="/sobre">
          Ver mais
        </ion-button>
      </ion-card-content>

    </ion-card>
    
  </div>
</ion-content>
